/* sfondo */
body {

    background-repeat: no-repeat;
    background-color: white ;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    }


    /*immagini e video*/
    .carousel-item img {

        padding-top: 100px;
    }

    .festival {
        transition: all .2s ease-in-out;
        }

    .festival:hover {
        transform: scale(1.1);
        }

    div.tabella {
        text-align: center;
        padding-left: 400px;
        padding-right: 400px;
    }
    /*fine immagini e video*/

    /*caratteri*/
    hr {
        color:aliceblue;
        border-top: 2px dotted;
        width:50%;
        margin-left: auto;
        margin-right: auto;
    }

    div.descrizione {

        text-align: center;
        color:aliceblue;
    }


    a {

        text-decoration: none;
        font-size: 18px;
        color:green;
    }

    /*fine caratteri*/


    /*menu*/

    .nav-item
    {
        text-decoration: none;
        padding-left:120px;
        justify-content: center;
    }

    .dropdown
    {
        text-decoration: none;
        padding-right:80px;
    }

    .nav-link {
        color:black;
        font-size: 20px;
        text-shadow: -1px 0 white,
        0 1px white, 1px 0 white,
        0 -1px white;

    }


    /*fine menu*/



    /*da bootstrap */

    .form-signin {
        max-width: 730px;
        padding: 15px;
      }


      .form-signin .form-floating:focus-within {
        z-index: 2;
      }

      .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }


      /*fine bootstrap*/



    /* animazione logo nella navbar */
    .girotondo {
        -webkit-transform:rotate(360deg);
        transform: rotate(360deg); /*per compatibilità browser*/
      -webkit-transition-duration: 2s;
      transition-duration: 2s; /*per compatibilità browser*/
    }
