body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    background-color: rgb(204, 247, 247); 
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    border: 2px solid black;
}



.form-container {
    width: 80%;
    padding-right: 10%;
}

.form-page {
    display: none;
}

.form-page.active {
    display: block;
}

.summary {
    
    width: 20%;
    background-color: #ffffff;
    padding: 10px;
  /*   padding-left: 100px; */
    border: 1px solid #040404;
}

.summary h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.summary-list {
    list-style-type: none;
    padding: 0;
}

.summary-item {
    margin-bottom: 5px;
    cursor: pointer;
}

.summary-item.active {
    font-weight: bold;
}

